/* Typography
   ========================================================================== */

   @font-face {
    font-family: EYInterstate-Regular;
    src: url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Regular.eot);
    src: url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Regular.eot?#iefix) format("embedded-opentype"), url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Regular.woff) format("woff"), url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: EYInterstate-Light;
    src: url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Light.eot);
    src: url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Light.eot?#iefix) format("embedded-opentype"), url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Light.woff) format("woff"), url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Light.ttf) format("truetype");
  }
  
  @font-face {
    font-family: EYInterstate-Bold;
    src: url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Bold.eot);
    src: url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Bold.eot?#iefix) format("embedded-opentype"), url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Bold.woff) format("woff"), url(siteUrl/SiteAssets/site-refresh-assets/assets/fonts/EYInterstate-Bold.ttf) format("truetype");
  }   