
/* Variables definitions
   ========================================================================== */

   $black: #000000;
   $white: #FFFFFF;
   $eyGrey: #707070;
   $eyOffBlack: #2E2E38;
   $eyMidnightBlack:#1a1a24;
   $eyBlack: #333333;
   $eyGrayDark: #404040;
   $eyGrayLight: #e0e0e1;
   $eyYellow: #FFE600;
   $eyOffYellow: #ddc805;
   $eyGrayPale: #DBDBE0;
   $eyPaleGrey: #E0E0E5;
   
   $eyPrimaryBlue: #71c6d0;
   $eyPrimaryGreen: #67be9c;
   $eyPrimaryPurple: #a182ba;

   $eyPrimaryPurple:#750E5C;
   $eyPrimaryOrange:#FF6D00;
   $eyPrimaryGreen: #2DB757;
   $eyPrimaryCyan:#27ACAA;
   $eyPrimaryBlue:#188CE5;
   $eyPrimaryPurpleDark:#3D108A;
   $eyPrimaryGray:#C4C4CD;
   $eyYellowPale:#E6D80E;
   $eyOffWhite:#F5F5FA;
   $eySharkGrey:#747480;
   
   $eyHoverYellow: rgba(255, 230, 0, .9);
   $eyHoverBlue: rgba(24, 140, 229, .9);
   $eyHoverOrange: rgba(255, 152, 49, .9);
   $eyHoverGreen: rgba(45, 183, 87, .9);
   $eyHoverPink: rgba(218, 133, 171, .9);
   $eyHoverGrey: rgba(245, 245, 250, .9); 

   $eyOffBlackOpac: rgba(46, 46, 56, 0.95);

   $eyOrangeOpac6: rgba(255, 152, 49, .6);
   $eyOrangeOpac3: rgba(255, 152, 49, .3);
   $eyOrangePale: rgba(255, 152, 49, .15);
    
   
   